.container{
    margin: 0;
    box-sizing: 0;
    display: flex;
    flex-wrap: wrap;
}


.card{
    width: 200px;
    height: 200px;
    border: 8px;
    margin: 5px;
    padding: 10px;
    background-color: aquamarine;    
}